#!/usr/bin/env bash

# Set Git language to English
alias git='LC_ALL=en_US git'

# Shortcuts
alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'
alias rgh='cd ~/repositories/github'
alias rcp='cd ~/repositories/company'
alias til='cd ~/repositories/github/public/TIL'
alias blog='cd ~/repositories/github/public/younho9.dev'
alias '$'=''
