#!/usr/bin/env bash

# Set Git language to English
alias git='LC_ALL=en_US git'

# Shortcuts
alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'
alias rgh='cd ~/repositories/github'
alias rcp='cd ~/repositories/company'
alias notes='cd ~/repositories/github/public/notes.younho9.com'
alias icloud='cd ~/Library/Mobile\ Documents/com~apple~CloudDocs/'
alias '$'=''
