#!/usr/bin/env zsh

# Set Git language to English
alias git='LC_ALL=en_US git'

# Shortcuts
alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'
alias '$'=''

# difit - local diff review
alias difit='npx difit@3.1.7 --include-untracked --mode split'
alias difit-branch='difit . $(git merge-base HEAD $(git symbolic-ref refs/remotes/origin/HEAD --short))'

# git-spice
alias gs='git-spice'
