#!/usr/bin/env zsh

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"
export ZSH_CUSTOM="$HOME/.oh-my-zsh/custom"

# If M1 arch
if [[ "$(arch)" == "arm64" ]]; then
	export PATH="/opt/homebrew/bin:/opt/homebrew/sbin:$PATH"
# If Intel arch
else
	export PATH="/usr/local/bin:/usr/local/sbin:$PATH"
fi

export GD="$HOME/Google Drive/My Drive"

# locale
export LANG=ko_KR.UTF-8
export LC_ALL=ko_KR.UTF-8

# Fix idea terminal git log
export LESSCHARSET=utf-8

# Uncomment the following line to change how often to auto-update (in days).
export UPDATE_ZSH_DAYS=13

# PIP
export PIP_TRUSTED_HOST=pypi.org
export PIP_TRUSTED_HOST=files.pythonhosted.org

# Zscaler CA certificate (only if file exists)
if [[ -f ~/.ssl/certs/Zscaler_RootCA.pem ]]; then
    export NODE_EXTRA_CA_CERTS=~/.ssl/certs/Zscaler_RootCA.pem
fi
