[init]
	defaultBranch = main

[user]
	name = Younho Choo
	email = yo+github@younho9.com

[alias]
	# git mr [<remote>] [<id>]
	#
	# Usage:
	# 	git mr upstream 25
	# 	git mr origin 5
	#
	# References:
	# 	https://docs.gitlab.com/ee/user/project/merge_requests/reviews/#checkout-locally-by-adding-a-git-alias
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:$1/merge-requests/$2 && git checkout $1/merge-requests/$2' -

	# git pr [<remote>] [<id>]
	#
	# Usage:
	# 	git pr upstream 25
	# 	git pr origin 5
	#
	# References:
	# 	See https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/checking-out-pull-requests-locally
	pr = !sh -c 'git fetch $1 pull/$2/head:$1/pull-requests/$2 && git checkout $1/pull-requests/$2' -

	graph = log --branches --graph --oneline

	wt = !sh -c 'git worktree add ./.gitworktrees/$1 $1 && code ./.gitworktrees/$1' -

	new = checkout -b

[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
	ignorecase = false

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[commit]
	template = ~/.gitmessage.txt

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir/i:~/repositories/company/"]
	path = ~/.gitconfig.company

[status]
	submoduleSummary = true

[rerere]
	enabled = true
